.navbar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: hsla(240, 1%, 17%, 0.75);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid hsl(0, 0%, 22%);
    border-radius: 12px 12px 0 0;
    z-index: 5;
}

.navbarList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.navbarLink {
    color: hsl(0, 0%, 84%);
    font-size: 11px;
    padding: 20px 7px;
    transition: 0.25s ease;
}

.navbarLink:hover, .navbarLink:focus {
    color: hsla(0, 0%, 84%, 0.7);
}

.navbarLink.active {
    color: hsl(45, 100%, 72%);
}